*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./src/WhatsApp\ Image\ 2024-03-21\ at\ 15.35.34.jpeg);
    background-position: center;
    /* background-size: cover; */
    background-repeat: repeat;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.prp-logo{
  border-right: 8px solid #f44336;
  margin: 10px;
}

nav img{
    width: 100px;
    margin-right: 20px; 
    
}

.college-name{
    color: #fff;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}

.branch{
  color: #fff;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;

}


.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: "Poppins", sans-serif;

}

.nav-links ul li::after{
    /* search how does after works */
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    margin: 0%;
    color: #fff;
    
    text-align: center;
}

.text-box h1{
  margin-top: 20px;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    font-style: normal;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transform: 1s;
}

nav .fa{
  display: none;
}

/* footer */
.footer h4{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 20px;
    padding: 0;
  }
  
  .footer p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
  
  .footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
  }
  
  .icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    
  }
  .fa-heart-o{
    color: #f44336;
  }

  

  /* card */
.outside{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 60px;
}

  .card-container{

    display: flex;
    justify-items: center;
    align-items: end;

    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    


  }

  .card{
    display: grid;
    width:22.5%;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    margin-bottom: 9%;
    height: 500px;
  }

  .card img{
    width: 100%;
    height: 320px;

  }

  .card-content{
    padding: 16px;
  }

  .card-content h3{
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  .card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
  }

  .card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
  }

  .first-box{
    display: grid;
  }